
@{
    ViewBag.Title = "Add Car";
}


<div>
    @ViewBag.Message
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong>Dodaj</strong> vozilo </h4>
                <div class="form">
                    <form action="AddCar" method="post" >
                        <input type="text" required="" placeholder="Marka" value="" name="marka" class="txt">
                        <input type="text" required="" placeholder="Model" value="" name="model" class="txt">
                        <input type="text" required="" placeholder="Oznaka sasije" value="" name="oznakaSasije" class="txt">
                        <input type="text" required="" placeholder="Boja" value="" name="boja" class="txt">
                        <input type="text" required="" placeholder="Broj vrata" value="" name="brojVrata" class="txt">
                        <input type="text" required="" placeholder="Cena" value="" name="cena" class="txt">
                        <select class="form-control" id="vrstaGoriva" name="vrstaGoriva">
                            <option>BENZIN</option>
                            <option>DIZEL</option>
                            <option>BENZIN_GAS</option>
                            <option>METAN</option>
                            <option>ELEKTRICNI_POGON</option>
                            <option>HIBRIDNI_POGON</option>
                        </select>
                        <textarea placeholder="Opis" name="opis" type="text" class="txt_3"></textarea>
                        <input type="submit" value="submit" name="submit" class="txt2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>